body{
    font-family: 'Patrick Hand', cursive;
}

.menu-bar{
    opacity: 0.5;
    position: fixed;
    display: inline-block;
    width: 100%;
    background-image: linear-gradient(navy,blue);
}

.menu-bar ul,li{
    display: inline-block;
    padding: 5px;
    color: blanchedalmond;
    font-weight: 35px;
}

.menu-bar li{
    border-right: 1px solid gray;
}

.menu-bar li:hover{
    box-shadow:3px 3px 3px blanchedalmond;
    font-size:x-large;
}


.menu-bar li a{
    text-decoration: none;
}

.menu-bar li:last-child{
    border-right: none;
}


.upper{
    margin-top: 5%;
    width: 100%;
    display: inline-block;
    background-image: url('images/shapes/Frame\ 59.jpg');
    background-repeat: no-repeat;
}

.half-width{
    display: float;
    float: left;
    width: 50%;
}


h1{
    font-size: 50px;;
}



.orange{
    color: orange;
}

button{
    padding: 10px;
    color: white;
    border-radius: 15px;
    background-image: linear-gradient(tomato,crimson);
}


.middle{
    width: 100%;
    margin:20px 0px 20px 0px;
    display: inline-block;
    background-image: url('images/shapes/Frame\ 57.jpg');
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    color:white;
}

.middle img{
    width:80%;
}

.recipe{
    text-align: center;
}

.menu{
    display: inline-block;
    width: 100%;
}

.menu-item{
    display: inline-block;
    width: 25%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px gray;
    margin-left: 3%;
    padding:0 2%;
}

.menu-item img{
    margin-top: 10%;
    width: 50%;
    height: 75px;
    padding:0 25%;
}


.subscribe{
    display: inline-block;
    margin:10% 5%;
    width: 90%;
    box-shadow: 3px 3px 3px 3px gray;
}

.social-media{
    width: 20%;
    display: inline-block;
    text-align: center;
    padding:0 6%;
}

footer{
    text-align: center;
    background-color:darkgrey;
    height:150px;
}

footer p{
    font-size: 24px;
}